body{
    background-color: gray;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    background-color: black;
    padding: 15px;
}
.head a{
    color: aliceblue;
    text-decoration: none;
    margin-left: 20px;
}
 
 .image{
    width: 1200px;
     height: 170px;
     object-fit:cover;
     margin-left: 37px;
     border-radius: 20px;
 }
 .a{
    text-align: center; font-weight: 800; font-size: 20px;
 }
  
 .b{
    background-color: black;
    width: 300px;
    height: 290px;
    font-size: 10px;
    color: aliceblue;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
     
 }
 .bb{
    background-color: black;
    width: 300px;
    height: 290px;
    font-size: 10px;
    color: aliceblue;
    padding-top: 5px;
    border-radius: 10px;
    text-align: center;
    margin-left: 310px;

 }
 .bbb{
    background-color: black;
    width: 300px;
    height: 290px;
    font-size: 10px;
    color: aliceblue;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    margin-left: 620px;
 }
 .bbbb{
    background-color: black;
    width: 300px;
    height: 290px;
    font-size: 10px;
    color: aliceblue;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    margin-left: 940px;
 }
 .c{
    width: 230px;
    height:180px;
    border-radius: 20px;
 }